body {
    background-image: url("background_pic.png");
    background-repeat: repeat;
}

div.container {
    margin: auto;
    border: 10px solid green;
    display: table;
}

div.subcontainer {
    display: inline-flex;
    margin: 0px;
}

div.subcontainer_bottom_text {
    margin-top: -5px;
}

.subcontainer img {
    -webkit-transition: transform 0.8s ease-in-out;
    -moz-transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}

.subcontainer:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 99;
}

@media only screen and (max-width: 1400px) {
    div.container {
        zoom: 0.7;
    }
}

@media only screen and (max-width: 1000px) {
    div.container {
        zoom: 0.6;
    }
}

@media only screen and (max-width: 850px) {
    div.container {
        zoom: 0.5;
    }
}


/* phones */

@media only screen and (max-width: 700px) {
    div.container {
        zoom: 0.25;
    }
}